---
blog_title: Edge Rails.info
full_url: http://edgerails.info
disqus_short_name: edgerails

google_ajax_api_key: ABQIAAAAy8pbLvXSAhT6CrI93EHftRR2Vx9IrckWRbFszzbqrF7HPRyGLxRbhX5HmXRQATF-75QozHQ-TWk5Mw
---

!!! 1.1 Transitional
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en")

  = include "head.haml"
  %body(id="#{(page.respond_to?(:body_id) ? page.body_id : nil)}" class="#{(page.respond_to?(:nav) ? page.nav : nil)}")
  
    #content
      #header= include "header.haml"
      #nav= include "navigation.haml"              
      #page= include "page.haml"
      
    #footer= include "footer.haml"
        
    = include "disqus_hook.haml"        
    = include "google_analytics.haml"