%head

  %title #{page.blog_title} :: #{page.title}
  - if page.respond_to? :description
    %meta(name="description" content="#{page.description}")/
  - if page.respond_to? :keywords
    %meta(name="keywords" content="#{page.keywords}")/

  %link(href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css")
  %link(href="/atom.xml" rel="alternate" title="#{page.blog_title}" type="application/atom+xml")

  %script(src="http://www.google.com/jsapi?key=#{page.google_ajax_api_key}" type="text/javascript")
  %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript")
  %script(src="/javascripts/json2.js" type="text/javascript")
  %script(src="/javascripts/jquery.template.js" type="text/javascript")
  %script(src="/javascripts/jquery.cookie.js" type="text/javascript")
  %script(src="/javascripts/jquery.prettydate.js" type="text/javascript")
  %script(src="/javascripts/jquery.twitter.js" type="text/javascript")
  %script(src="/javascripts/jquery.feed.js" type="text/javascript")