---
layout: nil
author: Ryan Daigle
blog_title: Edge Rails.info
full_url: http://edgerails.info
---
!!! XML
%feed(xmlns="http://www.w3.org/2005/Atom")
  %title= page.blog_title
  %link(href="#{page.full_url}/atom.xml" rel="self")
  %link(href="#{page.full_url}")
  %updated= Time.now.xmlschema
  %id=page.full_url
  - site.posts.reverse[0..10].each do |post|
    %entry
      %title= rp(post.title)
      %link(href="#{page.full_url}#{post.url}")
      %author
        %name= post.data['author'] || page.author
      %updated=post.date.xmlschema
      %id= "#{page.full_url}#{post.id}"
      %content(type="html")
        = h(absolute_url(rp(post.content), page.full_url))